@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

main {
    margin: 5%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.tabContainer {
    display: flex;
    min-height: 42px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 1.2rem;

    border-bottom: 1px solid #4b4b4b;

    .selected {
        border-bottom: 2px solid #1976d2;
        color: #1976d2;
    }
}
