# These data options are over-ridden when calling run-model.py but are expected by ModelConfig
data:
  name: "MLR" # Model version
  case_path: "data/test/prepared_cases.tsv"
  seq_path: "results/vic_2024-02/variant_seq_counts_subyr_subloc.tsv"
  aggregation_frequency: "7D"

settings:
  fit: true # Fit the model?
  save: true # Save model state?
  load: false # Load old model?
  export_json: true  # Export model results as json
  ps: [0.5, 0.8, 0.95] # HPDI intervals to be exported
  ps_point_estimator: "mean"

model:
  forecast_L: 52
  pool_scale: 0.25 # between 0.1 to 0.5
  generation_time: 0.49 # 3.4 days from Carrat et al. 2008 (https://academic.oup.com/aje/article/167/7/775/83777). Divide generation time in days by the number of days in the aggregation frequency above for proper GA calculations.
  pivot: "C.5.6"
  location_ga_inclusion_threshold: 10
  hierarchical: true # Keep hierarchical for analysis across regions
  version: "MLR"
  xi_prior: 0.5
  xi_by_group: false

inference:
  method: "NUTS"
  iters: 50000 # Number of iterations for SVI
  lr: 4e-4 # Learning rate for the model
  num_warmup: 200
  num_samples: 200
